@import url(./style.css);

@font-face {
    font-family: ClashDisplay;
    src: url(../assets/fonts/ClashDisplay-Regular.woff2);
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: ClashDisplay;
    src: url(../assets/fonts/ClashDisplay-Light.woff2);
    font-style: normal;
    font-weight: 300;
}


@font-face {
    font-family: Satoshi;
    src: url(../assets/fonts/Satoshi-Regular.otf);
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: Satoshi;
    src: url(../assets/fonts/Satoshi-Light.woff2);
    font-style: normal;
    font-weight: 300;
}